@font-face{
    font-family: myFont;
    src: url(/Images/brand.ttf);
}

body{
    background: linear-gradient(-45deg, #192857 , #94bfe7 , #f2f2f2);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: myFont;

}
    
@keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
}

#nav-buttons{
    gap: 1em;
}

#btn-brand{
    background-color: #94bfe7;
    border:0.1em solid #192857;
}

#btn-brand:hover{
    background-color: #192857;
    border: 0.1em solid #94bfe7;
}

#btn-brand-primary{
    background-color: #192857;
    border: 0.1em solid #94bfe7;
}

.nav-bar {
    background-color: white;
    position: relative;
    isolation: isolate;  /*creates stacking context*/ 
    opacity: 1; 

    /* background: linear-gradient(-45deg, #0C489C, #4766B7, #6477C3, #8491CE);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; */
    /* height: 100vh; */
}

.nav-bar::after{
    content: " ";
    position: absolute;
    background-image: url("https://previews.123rf.com/images/cyrustr/cyrustr1707/cyrustr170700255/82266228-ice-background-texture-ice-with-different-shapes-and-cracks.jpg");
    background-color: white;
    z-index: -1;
    inset: 0;  /*shorthand for Top, Bottom, Right, Left */
    opacity: 0.4;
}

.limitedSpace-note{
    font-size: 0.85rem;
}

.nav-span-d{
    display: none;
}
.sectionOne-M{
    display: none;
}
.sectionOne-D{
    display: block;
}


@media (max-width: 1366px) {

    /* TOP PAGE */
    #brand-logo{
        height: 50%;
        width: 50%;
    }

    .featurette-img{
        width: 100%; 
    }

    #detailsHeader{
        color: #192857;
    }

    .btn-group-lg>.btn, .btn-lg {
        --bs-btn-font-size: 1rem !important;
    }

    /* NAV BAR */
    .nav-span-d{
        display: block;
    }
    .nav-span-m{
        display: none;
    }
    .sectionOne-D{
        display: none;
    }
    .sectionOne-M{
        display: block;
    }

}