/* FONT  JOHN MARION */
@font-face{
    font-family: myFont;
    src: url(/Images/brand.ttf);
}

body{
    font-family: myFont !important;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #013b93; /* Set the background color */
    z-index: -1; /* Ensure this background is behind everything else */
}
/* - */

/* INTRO VIEW BACKGROUND */
.headerPicture{
    background-size: cover;
    background-image: url("/Images/kai-oberhauser-BKAaLmT0tIs-unsplash.jpg");
    background-repeat: no-repeat;
    zoom: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    
    
    background-position: center center;
    -webkit-background-size: cover;

}

.side-note{
    position: absolute;
    bottom: 0%;
    color: #f2f2f2;
}
    
/* SNOWFLAKE ANIMATION */
.snowflake{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-image: url(/Images/1.png), url(/Images/2.png), url(/Images/3.png);
    animation: animate 20s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0, 0 0, 0 0;
    }
    100%{
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}
/* - */

/* Homepage Button */
.homepage-btn {
    position: absolute;
    z-index: 100;
}

/* NAV BAR ICY LOOK & BUTTONS */
.nav-bar {
    background-color: white;
    position: relative;
    isolation: isolate;  /*creates stacking context*/ 
    opacity: 1; 
    height: 4.5rem;
    align-items: center;
}

.nav-bar::after{
    content: " ";
    position: absolute;
    background-image: url("https://previews.123rf.com/images/cyrustr/cyrustr1707/cyrustr170700255/82266228-ice-background-texture-ice-with-different-shapes-and-cracks.jpg");
    background-color: white;
    z-index: -1;
    inset: 0;  /*shorthand for Top, Bottom, Right, Left */
    opacity: 0.4;
}

#nav-buttons{
    gap: 1em;
}

.btn{
    text-align: left !important;
    width: 100%;
}

#attractionHeader,#detailsHeader {
    color: #f2f2f2 ;
}

#btn-brand{
    background-color: #94bfe7;
    border:0.1em solid #192857;
    z-index: 2;
}

#btn-brand:hover{
    background-color: #192857;
    border: 0.1em solid #94bfe7;
    z-index: 2;
}

#btn-brand-primary{
    background-color: #192857;
    border: 0.1em solid #94bfe7;
    z-index: 2;
}

.btn-register{
    background-color: #f2f2f2 !important;
    color: #94bfe7 !important;
    z-index: 2;
}

.btn-register:hover{
    font-weight: bolder !important;
    border: 0.1em solid #94bfe7;
    z-index: 2;
}

.btn-custom {
    height: 6rem;
}
/* - */
/* - */



.hostSect{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Featurette Headings */
.featuretteHeader {
    color:  #192857 !important;
}

#featuretteHeader-sub {
    color:  #94bfe7 !important;
}

.featurette-img{
    width: 100%;
}

.bodyFeaturette{
    font-family: Arial, Helvetica, sans-serif;
}

/* SCROLL RULES */
#tournamentHosts-d{
    scroll-margin-top: 6rem;
}
#tournamentRules-d{
    scroll-margin-top: 6rem;
}

.nav-span-d{
    display: none;
}
.sectionOne-M{
    display: none;
}
.sectionOne-D{
    display: block;
}
.featurette-mobile{
    display: none;
}
.featurette-desktop{
    display: block;
}


@media (max-width: 1366px) {

    /* SCROLL RULES */
    #tournamentHosts-m{
        scroll-margin-top: 6rem;
    }
    #tournamentRules-m{
        scroll-margin-top: 6rem;
    }

    /* TOP PAGE */
    #brand-logo{
        height: 100%;
        width: 100%;
        margin-bottom: 3.5rem !important;
    }

    #detailsHeader{
        color: #f2f2f2;
        font-size: 1.5rem;
        /* margin-bottom: 4.5rem !important; */
    }

    .btn-group-lg>.btn, .btn-lg {
        --bs-btn-font-size: 1rem !important;
    }

    .side-note{
        font-size: 0.5rem;
        text-align: start;
    }

    /* NAV BAR */
    .nav-span-d{
        display: block;
    }
    .nav-span-m{
        display: none;
    }
    .sectionOne-D{
        display: none;
    }
    .sectionOne-M{
        display: block;
    }

    .featurette-mobile{
        display: block;
    }
    .featurette-desktop{
        display: none;
    }
}